.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

@media (max-width: 768px) {
    .signupForm {
        width: 100%;
        padding: 0 20px;
    }
}