.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    width: 250px; /* Fixed width for the sidebar */
    height: 100%; /* Take full height of parent container */
    border-right: 0.5px solid #c8c8c8;
    background-color: #fff; /* Optional background color */
    box-sizing: border-box;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1;
    overflow-y: auto; /* Scroll if the links overflow */
}
