/* Overall Navbar Styling */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
    padding: 5px;
    background-color: #ffffff;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Profile Section at the Top */
.profile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #595959;
    text-align: center;
    margin: 20px;
}

/* Links Wrapper */
.sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* General Links Styling */
.navLink {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #595959;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    transition: background-color 0.2s, padding-left 0.2s;
    height: 30px;
    margin: 0;
}

/* Hover Effects */
.navLink:hover {
    background-color: #f5f5f5;
    padding-left: 15px;
}

/* Footer Section */
.footer {
    font-size: 14px;
    text-align: center;
    color: #595959;
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.footerLink:hover {
    color: #d9363e;
}
