.error{
    color: #a71e34;
    margin: 0;
}

.success{
    color: #388e3c;
    margin: 0;
}

.heading{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.subheading{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #757575;

}

.link{
    color: #474747;
    cursor: pointer;
}

.baseText{
    margin: 0;
}

.textWrapper{
    width: fit-content;
    height: fit-content;
    margin: 0;
}