.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.progressContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}