.progressWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.progressContainer {
    flex-grow: 1;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    width: 100px;
    transition: width 0.3s ease;
    background-color: #4a4a4a;
}

.progress {
    margin-top: 5px;
    font-size: 16px;
    color: #4a4a4a;
}