.explanationWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}

.explanationText{
    color: #434343;
    font-size: 16px;
}

.plansLink{
    color: #061178;
    font-size: 16px;
}

.plansLink:hover{
    text-decoration: none;
}