
.welcomeWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    align-items: flex-start;
    background-color: #f5f5f5;
    border: 0.5px solid #2E2E2E;
    border-radius: 10px;
}

.welcomeText{
    font-size: 22px;
}

.welcomeTextWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.welcomeSubText{
    font-size: 16px;
    color: #757575;
}

.editButton{
    color: #757575;
    font-size: 16px;
}

.editButton:hover{
    text-decoration: none;
}