.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 32px;
    gap: 20px;
}
