.main {
    flex-grow: 1; /* Take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow scrolling only inside Main if needed */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    gap: 30px;
    width: 100%; /* Ensure Main takes the full width */
}

.marginLess{
    flex-grow: 1; /* Take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow scrolling only inside Main if needed */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    gap: 10px;
    width: 100%; /* Ensure Main takes the full width */
}