.contractContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  width: calc(50% - 15px); /* Two cards per row */
  min-width: 300px; /* Prevents the cards from being too small */
  max-width: 600px; /* Ensures they don't stretch too much */
  flex-grow: 1; /* Allows flexibility in wrapping */
}

.contractContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contractHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contractTitle {
  color: #1f1f1f;
  font-weight: 450;
  text-decoration: underline;
  transition: 0.2s ease;
  cursor: pointer;
}

.contractTitle:hover{
  text-decoration: none;
  color: #757575;
}

.contractDescription {
  font-weight: 300;
  color: #757575;
  margin: 0;
}

.contractFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contractFooterLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rewardItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.contractAxp {
  font-size: 16px;
  font-weight: 600;
  color: #13c2c2; /* Blue for AXP */
}

.contractBrilliants {
  font-size: 16px;
  font-weight: 600;
  color: #faad14; /* Gold for Brilliants */
}

.icon {
  width: 20px;
  height: 20px;
}

.contractFooterRight {
  display: flex;
  align-items: center;
}

.difficultyTag {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
