
.subtitleText{
    color: #757575;
    font-weight: lighter;
}

.configWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.titleText{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.radioButtonsWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radioText{
    font-size: 15px;
    font-weight: 420;
}

.radioSubText{
    font-size: 12px;
    font-weight: 300;
    color: #757575;
}

.radioWrapper{
    background-color: #f5f5f5;
    border: 0.5px solid #002766;
    border-radius: 7px;
    padding: 10px 20px;
}

.checkboxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
}

.categoriesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.categoryWrapper{
    background-color: #f5f5f5;
    border: 0.5px solid #002766;
    border-radius: 7px;
    padding: 8px 10px;
}

.questionTypeWrapper{
    background-color: #f5f5f5;
    border: 0.5px solid #002766;
    border-radius: 7px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}