.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: fit-content;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    border-radius: 12px;
    gap: 20px;
    flex-wrap: wrap;
}

.textWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.heading {
    font-weight: 500;
    color: #1f1f1f;
    margin: 0;
}

.subHeading {
    color: #1f1f1f;
    font-weight: 300;
    margin: 0;
}