.btnPrimary {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    transition-duration: 0.3s;
}

.btnSecondary {
    background-color: #2E2E2E;
    color: white;
    border: 1px solid #2E2E2E;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    transition-duration: 0.3s;
}

.btnError{
    background-color: inherit;
    color: #900B09;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    transition-duration: 0.3s;
}

.btnFit{
    width: 100%;
    box-sizing: border-box;
}

.btnLink {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.btnPrimary:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.btnSecondary:hover {
    background-color: #474747;
    cursor: pointer;
}

.btnError:hover{
    background-color: #eadddd;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btnLink {
        font-size: 15px;
    }
}