.contractContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50% - 15px); /* Two cards per row */
  min-width: 300px; /* Prevents the cards from being too small */
  max-width: 600px; /* Ensures they don't stretch too much */
  flex-grow: 1; /* Allows flexibility in wrapping */
}

.cardContentWrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeLimitWrapper{
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
}
