.customSetWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: fit-content;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    border-radius: 12px;
    gap: 20px;
    flex-wrap: wrap;
}

.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.heading {
    font-weight: 500;
    color: #1f1f1f;
    margin: 0;
}

.subHeading {
    font-weight: 300;
    color: #757575;
    margin: 0;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 12px;
    width: 80%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
}
