.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 600px;
}

@media (max-width: 768px) {
    .loginForm {
        width: 100%;
        padding: 0 20px;
    }
}