.link{
    font-size: 12px;
    color: #474747;
    cursor: pointer;
}

.subTextWrapper{
    margin-top: 10px;
    display: flex;
    align-items: left;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}